<ul class="text-left" id="list">
  <h5>Basic rules and how to capture stones</h5>
  <li>
    <a [routerLink]="" (click)='change("")'>Introduction</a>
  <li>
    <a href="">How To Capture Stones</a>
  <li>
    <a [routerLink]="" (click)='change("capture")' >50 Kyu Problems</a>
    - Capture Atari Stones!
  <li>
    <a href="">49 Kyu Problems</a>
    - A bit more difficult
  <li>
    <a href="">48 Kyu Problems</a>
    - Capture anyway!
  <li>
    <a href="">Destroy all whites</a>
    - Just take a break
  <li>
    <a href="">47 Kyu Problems</a>
    - Double Ataris
  <li>
    <a href="">Illegal moves</a>
    - One more rule to remember
  <li>
    <a href="">46 Kyu Problems</a> - Think Twice
  </li>


  <h5>More about capturing stones</h5>
  <li>
    <a href="P45K.html" target="body">45 Kyu Problems</a>
    - Learning the Ladder
  <li>
    <a href="nigan.html" target="body">The stones which would never be captured</a>
  <li>
    <a href="P44K.html" target="body">44 Kyu Problems</a>
    - Make Two Eyes
  <li>
    <a href="P43K.html" target="body">43 Kyu Problems</a>
    - Semeai(attacking each other)
  <li>
    <a href="P42K.html" target="body">42 Kyu Problems</a>
    - Learning Uttegaeshi (snapback technique)
  <li>
    <a href="ko.html" target="body">Ko</a>
    - The last rule to remember
  <li>
    <a href="P40K.html" target="body">40 Kyu Problems</a>
    - Crane in the nest
  <li>
    <a href="falseeye.html" target="body">39 Kyu Problems</a>
    - False Eyes
  <li>
    <a href="cornerwar.html" target="body">38 Kyu Problems</a>
    - Fight around the corner
  <li>
    <a href="complex.html" target="body">37 Kyu Problems</a>
    <h5>How a game is progressed</h5>
  <li>
    <a href="fuseki.html" target="body">The beginning</a>
    - How a game is started
  <li>
    <a href="middle.html" target="body">36 Kyu problems</a>
    - The middle game
  <li>
    <a href="count.html" target="body">End game</a>
    - How to count territory?
  <li>
    <a href="count2.html" target="body">End game(2)</a>
  <li>
    <a href="cut.html" target="body">Cutting stones</a>
    - Tear them apart!
  <li>
    <a href="defend.html" target="body">Defending</a>
    - Prevent the cut
  <li>
    <a href="1ken.html" target="body">One Point Jump</a>
    - very good move
  <li>
    <a href="2ken.html" target="body">More about jumps</a>
  <li>
    <a href="end.html" target="body">35 Kyu Problems</a>
    - The game is almost over
  <li>
    <a href="hitome.html" target="body">34 Kyu Problems</a>
  <li>
    <a href="samplegame.html" target="body">Game Examples</a>
  <li>
    <a href="komi.html" target="body">Komi</a> - A little bonus for white
    <h5><b>Preparing for the real game</b></h5>
  <li>
    <a href="tsukehane.html" target="body">A slap in the face</a>
  <li>
    <a href="hanenobi.html" target="body">Extending your stone</a>
  <li>
    <a href="kakari.html" target="body">Kakari and Shimari</a> - corners are profitable
  <li>
    <a href="epilog.html" target="body">Epilog</a> - Where to go next?</li>


</ul>
