<ul class="text-left" id="list">
  <h5>Basic rules and how to capture stones</h5>
  <li>
    <a href="">Introduction</a>
  <li>
    <a href="">How To Capture Stones</a>
  <li>
    <a href="">50 Kyu Problems</a>
    - Capture Atari Stones!
  <li>
    <a href="">49 Kyu Problems</a>
    - A bit more difficult
  <li>
    <a href="">48 Kyu Problems</a>
    - Capture anyway!
  <li>
    <a href="">Destroy all whites</a>
    - Just take a break
  <li>
    <a href="">47 Kyu Problems</a>
    - Double Ataris
  <li>
    <a href="">Illegal moves</a>
    - One more rule to remember
  <li>
    <a href="">46 Kyu Problems</a> - Think Twice
  </li>
</ul>
