#board{
  padding-bottom: 3em;
  margin: auto;
}

h4{
  margin-top:1em;
}

#control{
  margin: auto;
  margin-bottom: 1em;
}

#instructions{
  padding:1em;
}

#instructionText{
  padding-left: 1em;
}


#level{
  font-size: 3em;
}
