#toc{
  margin-top: 1em;
  background: #e0e2dc;
}

.row{
  margin: 0;
}

.pre-scrollable {
  min-height: 45em;
  overflow-y: scroll;
}

h1{
  padding-top: 1em;
}

#mainWindow{
  background: #c5c9d6;
  height: 100%;
}
