.flex-center {
  display:flex;
  align-items:center;
}
@media ( min-width:768px ) {
  .sm-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 992px ) {
  .md-flex-center {
    display:flex;
    align-items:center;
  }
}
@media ( min-width: 1200px ) {
  .lg-flex-center {
    display:flex;
    align-items:center;
  }
}
